
<!-- <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<b>Name : </b><br>
<input type="text" name="name" value="<%= @place.name %>">
<br>
<b>Adress : </b><br>
<input type="text" name="adress" value="<%= @place.adress %>">
<br>
<b>Phone Number : </b><br>
<input type="text" name="phone_number" value="<%= @place.phone_number %>">
<br>
<b>City : </b><br>
<input type="text" name="city" value="<%= @place.city %>">
<br>
<b>Description : </b><br>
<textarea name="description" rows="8" cols="40" > <%= @place.description %></textarea>
<br>
<b>Contact Mail : </b><br>
<input type="text" name="contact_mail" value="<%= @place.contact_mail %>">
<br>
<b>Established Date : </b><br>
<input type="text" name="established_at" value="<%= @place.established_at %>">
<br>
<button type="submit" name="button">SUBMIT</button><br> -->

<%= form_for @place do |f| %>
	<%= f.label :name %><br>
	<%= f.text_field :name, placeholder: 'name' %><br>

	<%= f.label :adress %><br>
	<%= f.text_field :adress, placeholder: 'adress' %><br>

	<%= f.label :phone_number %><br>
	<%= f.text_field :phone_number, placeholder: 'phone_number' %><br>

	<%= f.label :city %><br>
	<%= f.text_field :city, placeholder: 'city' %><br>

	<%= f.label :description %><br>
	<%= f.text_area :description, placeholder: 'description', rows: 7%><br>

	<%= f.label :contact_mail %><br>
	<%= f.text_field :contact_mail, placeholder: 'contact_mail' %><br>

	<%= f.label :established_at %><br>
	<%= f.date_select :established_at, placeholder: 'established_at' %><br>

	<%= f.label :Category %>
	<%= f.select :category_id, @categories %><br>

	<%= f.submit 'SUBMIT' %>

<% end %>

<!-- <%= form_tag places_path, method: :post do %>

	<%= text_field_tag 'title' %>
	<%= text_area_tag 'description' %>
	<%= date_field_tag 'planned_to' %>
	<%= submit_tag 'SUBMIT' %>

<% end %> -->