
<h3>Showing <%= @place.id %> th Place</h3>
<p> <b>Name : </b><i> <%= @place.name %> </i><br>
<b>Adress : </b><%= @place.adress %><br>
<b>Desc : </b><%= @place.description %><br>
<b>Phone Number : </b><u><%= @place.phone_number %></u><br>
<b>City : </b><%= @place.city %><br>
<b>Category : </b><%= @place.category.name %><br>
<b>Owner : </b><%= @place.owner.email %> <b> id : </b> <%= @place.owner.id %> <br>
<b>Foods : </b><%= @place.foods.collect{|x| x.name}.join(" - ") %><br>
<% if current_owner.present? && current_owner.id == @place.owner_id %>
  <br><i><%= link_to 'Edit place', edit_place_path %></i>
  <i><%= link_to 'Delete place', place_path(@place), method: :delete, data: { confirm:  'Do you want to delete...' } %></i>
<% end %>
</p>

<%= render 'reservs/reserv_list' %>

<% if current_costumer.present? %>
  <%= render 'reservs/form' %>
<% end %>

<%= render 'comments/comment_list' %>

<% if current_costumer.present? %>
  <%= render 'comments/form' %>
<% end %>
