
<h3>Showing <%= @place.id %> th Place</h3>
<p> <b>Name : </b><i> <%= @place.name %> </i><br>
<b>Adress : </b><%= @place.adress %><br>
<b>Desc : </b><%= @place.description %><br>
<b>Phone Number : </b><u><%= @place.phone_number %></u><br>
<b>City : </b><%= @place.city %><br>
<b>Category : </b><%= @place.category.name %></p>

<h2> Comments </h2>
<p>
  <% @place.comments.each do |comment| %>
    <b>Comment:</b>
    <%= comment.body %>
    <!--<i><%= link_to 'Delete comment', place_comment_path(@place), method: :delete, data: { confirm:  'Do you want to delete...' } %></i>
    --><br>
  <% end %>
</p>

<h2> Add your Comment </h2>
<%= render 'comments/form' %>

<br><i><%= link_to 'Edit place', edit_place_path %></i>
<i><%= link_to 'Delete place', place_path(@place), method: :delete, data: { confirm:  'Do you want to delete...' } %></i>
