<h3>Showing <%= @place.id %> th Place</h3>
<p> <b>Name : </b><i> <%= @place.name %> </i><br>
<b>Adress : </b><%= @place.adress %><br>
<b>Desc : </b><%= @place.description %><br>
<b>Phone Number : </b><u><%= @place.phone_number %></u><br>
<b>City : </b><%= @place.city %></p>

<i><%= link_to 'home', root_path %></i>
