<!DOCTYPE html>
<html>
  <head>
    <title>Reservation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'flash' %>
    <%= yield %>
    <br><i><%= link_to 'Add new place', new_place_path %></i><br>
    <i><%= link_to 'List Categories', categories_path %></i><br>
    <i><%= link_to 'List places', root_path %></i>
  </body>
</html>
